<header>
    <h1>Your Neighborhood Spaceship Repair Center</h1>
</header>
<h2>Invoices</h2>
<table id="invoices-table">

    {{!-- Header section --}}
    <thead>

        {{!-- For just the first row, we print each key of the row object as a header cell so we
        know what each column means when the page renders --}}
        <tr>
            {{#each data.[0]}}
            <th>
                {{@key}}
            </th>
            {{/each}}
        </tr>
    </thead>

    {{!-- Body section --}}
    <tbody>

        {{!-- For each row, print the attributes --}}
        {{#each data}}
        <tr>
            <td>{{this.ID}}</td>
            <td>${{this.Cost}}.00</td>
            <td>{{this.spaceshipID}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>
<form id="add-invoice-form-ajax">
    <fieldset>
        <legend>Add a new invoice: </legend>
        <label for="input-spaceshipOwner" class="required">Owner: </label>
        <input type="text" name="input-spaceshipOwner" id="input-spaceshipOwner" required>
        <label for="input-spaceshipModel" class="required">Model: </label>
        <input type="text" name="input-spaceshipModel" id="input-spaceshipModel" required>
        <br>
        <label for="input-services">Repair Services: </label>
        {{#each services}}
        <div>
            <input type="checkbox" name="{{this.repairName}}" id="{{this.repairName}}" value={{this.cost}}
                class="service-checkbox">
            <label for="{{this.repairName}}">{{this.repairName}}</label>
        </div>
        {{/each}}
        <br>
        <input type="submit" value="Add">
    </fieldset>
</form>
<form id="update-invoice-form-ajax">
    <fieldset>
        <legend>Update an invoice: </legend>
        <label for="input-invoiceID-update">Invoice ID#: </label>
        <select name="input-invoiceID-update" id="input-invoiceID-update">
            <option value="test">Select an invoice</option>
            {{#each data}}
            <option value="{{this.ID}}">{{this.ID}}</option>
            {{/each}}
        </select>
        <br>
        <label for="input-service-update">Repair Services: </label>
        {{#each services}}
        <div>
            <input type="checkbox" name="{{this.repairName}}" id="{{this.repairName}}" value={{this.cost}}
                class="service-checkbox-update">
            <label for="{{this.repairName}}">{{this.repairName}}</label>
        </div>
        {{/each}}
        <br>
        <input type="submit" value="Update">
    </fieldset>
</form>
<footer>
    <p>&copy; 2023 Seattle Squad OSU CS340</p>
</footer>

<script src="./js/add_invoice.js"></script>