<header>
    <h1>Your Neighborhood Spaceship Repair Center</h1>
</header>
<h2>Services</h2>
<table id="services-table">

        {{!-- Header section --}}
    <thead>

        {{!-- For just the first row, we print each key of the row object as a header cell so we
        know what each column means when the page renders --}}
        <tr>
            {{#each data.[0]}}
            <th>
                {{@key}}
            </th>
            {{/each}}
            <th>
                Delete
            </th>
        </tr>
    </thead>

    {{!-- Body section --}}
    <tbody>

        {{!-- For each row, print the attributes --}}
        {{#each data}}
        <tr>
            <td>{{this.ID}}</td>
            <td>{{this.Repair}}</td>
            <td>${{this.Cost}}</td>
            <td><button onClick="deleteRepair({{this.ID}})">Delete</button></td>
        </tr>
        {{/each}}
    </tbody>
</table>

<form id="add-repair-form-ajax">
        <fieldset>
            <legend>Add a new repair: </legend>
            <label for="input-repairName">Name: </label>
            <input type="text" name="input-repairName" id="input-repairName" required>
            <label for="input-cost">Cost: </label>
            <input type="number" min="0.00" step="0.01" name="input-cost" id="input-cost">
            <input type="submit">
        </fieldset>
    </form>

<footer>
    <p>&copy; 2023 Seattle Squad OSU CS340</p>
</footer>

<script src="./js/add_repair.js"></script>
<script src="./js/delete_repair.js"></script>